@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  
  html,
  :host {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
  .full-up {
    background-image: conic-gradient(from 0.25turn at var(--increase) var(--decrease), var(--tw-gradient-to), 180deg, var(--tw-gradient-to), 180deg, var(--tw-gradient-from));
  }
  /* width */
  ::-webkit-scrollbar {
    height: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px; 
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .p-top {
    --nav-offsetY: 75px;
    padding-top: var(--nav-offsetY)
  }
  
}